$primary-color: #6767df;
$background-color: #f8f8f8;
$text-color: #333;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
  color: $text-color;
}

.title {
  font-size: 6rem;
  font-weight: bold;
  color: $primary-color;
}

.description {
  font-size: 2.5rem;
  margin: 40px 0;
}

.homeLink {
  padding: 20px 30px;
  border: 2px solid $primary-color;
  border-radius: 12px;
  color: $primary-color;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 24px;

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}
